@mixin flex-display{
  display: flex;
  justify-content: center;
  align-items: center;
}
// variable
$display-flex: flex;
$justify-center: center;
$align-center: center;
$primary-font: 'Bungee Inline', cursive;
$primary-blue: steelblue;
$hover-color:lightcoral;
$secondary-font:'Oswald', sans-serif;

body {
  background-color:$primary-blue;
}
h3{
  @include flex-display;
}


.welcome{
  font-size: 43px;
  color: white;
  margin-top: 50px;
  font-family: $primary-font;
}
$secondary-font:'Oswald', sans-serif;
.daily-weather{
  display: flex;
  justify-content: center;
  font-family: $secondary-font;
  font-weight:light;
  color: white;
  text-align: left;
  flex-direction: column;
  padding-left: 25px;
  margin: 0px 5px
}

.user-location{
  display: block;
  margin: 50px auto 10px auto;
}

.header{
  text-align: center;
}

.windy{
  background: url('../images/Windy.svg') no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}
.sunny{
  background: url('../images/Sunny.svg') no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  padding-bottom: 3px;
}
.thunder{
  background: url('../images/tstorm.svg') no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  padding-bottom: 3px;
}
.snow{
  background: url('../images/Snowflake.svg') no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  padding-bottom: 3px;
}
.rain{
  background: url('../images/rain.svg') no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  padding-bottom: 3px;
}
.submit-button{
  display: block;
  margin: 10px auto;
  background-color: cornflowerblue;
  border:none;
  color:white;
  font-size: 15px;
  padding: 5px 10px;
}
.submit-button:hover{
  background-color: $hover-color;
}
