body {
  background-color:skyblue;
}
h3{
  display: flex;
}

.daily-weather{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gray;
  padding-left: 25px;
}

.user-location{
  display: block;
  margin: 200px auto 10px auto;
}

.header{
  text-align: center;
}

.submit-button{
  display: block;
  margin: 10px auto;
  background-color: blue;
  border:none;
  color:white;
  font-size: 15px;
  padding: 5px 10px;
}
.submit-button:hover{
}
