@mixin flex-display{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin words{
  font-family: $primary-font;
  color:white;
}
// variable
$display-flex: flex;
$justify-center: center;
$align-center: center;
$primary-font: 'Bungee Inline', cursive;
$primary-blue: steelblue;
$hover-color:lightcoral;
$secondary-font:'Oswald', sans-serif;


body {
  background-color:$primary-blue;
}
h3{
  @include flex-display;
  padding-top: 30px;
}


.welcome{
  @include words;
font-size: 43px;
margin-top: 50px;


}
.daily-weather{
  display: flex;
  justify-content: center;
  font-family: $secondary-font;
  font-weight:light;
  color: white;
  text-align: left;
  flex-direction: column;
  border: 1px solid gray;
  padding-left: 25px;
  margin: 0px 5px
}

.user-location{
  display: block;
  margin: 50px auto 10px auto;
}

.header{
  text-align: center;
}

.submit-button{
  display: block;
  margin: 10px auto;
  background-color: cornflowerblue;
  border:none;
  color:white;
  font-size: 15px;
  padding: 5px 10px;
}
.submit-button:hover{
  background-color: $hover-color;
}

.deets{
  margin:3px 0px;
}
